<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="first.js">
</head>
<body>
    
<div class="beg">

<div class="first">
<img src="hi.webp" alt="loginpage">
</div>

<div class="second">
    <p>Sign in with
        <i class="fa fa-facebook" style="color: white; background-color: blue; width: 20px; height: 20px; border-radius: 20px;"></i>
        <i class="fa fa-twitter" style="color: white; background-color: blue; width: 20px; height: 20px; border-radius: 20px;"></i>
        <i class="fa fa-linkedin" style="color: white; background-color: blue; width: 20px; height: 20px; border-radius: 20px;"></i>
<br>  
<p id="or">or</p>

    </p>
    <br><br>

    <form action="/login" method="post" >
        <input type="text" id="email" placeholder="Email address">
<br><br>
        <input type="password" id="pw" placeholder="Password">
<br><br>
        <input type="checkbox" id="rm">
        <label for="remember me">Remember me</label>
<br><br>
        <button type="submit" id="btn">Login</button>

<p>Don't have an account? <span>Register</span></p>

    </form>
</div>

</div>



</body>
</html>